/* title */
article.title {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}

article.title h2 {
    font-size: 48px;
    margin-top: 125px;
}

article.products {
    width: 100%;
    height: 550px;
    background-color: #eeeeee;
}


/* product card */

.products_wrap {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.product_left {
    float: left;
    margin-top: 255px;
}

.product_left a {
    display: block;
    text-decoration: underline;
}

.product_card {
    width: 370px;
    height: 350px;
    border-radius: 10px;
    float: left;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-left: 55px;
}

.product_card .products_wrap_top {
    height: 200px;
    border-bottom: 1px solid #dddddd;
    padding: 20px;
    font-size: 24px;
}

.product_card .products_wrap_top>img {
    margin-top: 28px;
    float: right;
}

.product_card .products_wrap_bot {
    padding: 20px;
}

/* 나라장터 상품정보 */
article.buy-table {
    width: 1200px;
    height: 500px;
    margin: 75px auto 0;
}

article.buy-table h3 {
    font-size: 24px;
    float: left;
    margin-bottom: 10px;
}

article.buy-table a {
    float: right;
    line-height: 24px;
    margin-right: 10px;
}

.buy-table>table {
    width: 1200px;
    text-align: center;
    margin-bottom: 10px;
    border-spacing: 0;
}

.buy-table>table tr {
    height: 70px;
}

.buy-table>table td {
    border-top: 1px solid #ddd;
}

.buy-table>table tr:last-child>td {
    border-bottom: 1px solid #ddd;
}

article.buy-table p {
    float: right;
    margin-right: 10px;
}

@media screen and (max-width : 1200px) { 
    .buy-table>table {
        width: 100%
    }
    article.title {
        width: 100%;
    }
    article.buy-table {
        width: 100%;
    }

    .products_wrap {
        width: 100%;
        padding: 100px 10px 10px 10px;
    }

    .product_card {
        width: auto;
        margin: 0;
        padding: 0;
    }

    article.buy-table>a {
        margin: 5px;
    }

    article.buy-table p {
        float: right;
        margin-right: 5px;
        text-align: right;
    }

    section  {
        padding: 0!important;
    }
}

@media screen and (max-width : 670px) { 

    .products_wrap_top {
        padding: 5px 5px 5px 5px;
    }

    .products_wrap_top h3 {
        font-size: 20px;
    }

    .products_wrap_bot span:nth-child(2) {
        display: none;
    }

    .buy-table table tr td:first-child {
        display: none;
    }

    .products_wrap {
        padding: 100px 0px 0px 0px;
        grid-template-columns: 1fr 1fr;
    }

    .products_wrap .product_left {
        display: none;
    }

    .product_card .products_wrap_top>img {
        display: block;
        margin: 28px auto;
    }
}