#bingo-block {
  height: 250px;
}

#bingo-struture {
  display: block;
  margin: 0 auto;
}

#bingo-summery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 850px;
  margin: 0 auto;
}

#bingo-summery > img {
  margin: 60px auto;
}

#bingo-summery .summery {
  width: 250px;
  padding: 40px 10px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

#bingo-summery-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#bingo-summery-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#bingo-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  /* 수직 가운데 정렬 */
  justify-content: center;
  /* 수평 가운데 정렬 */
}

#bingo-features .feature {
  width: auto;
  height: 200px;
  padding: 10px;
  padding-top: 75px;
  margin: 10px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 1400px) {
  #bingo-features {
    width: 100%;
  }

  #bingo-features .feature {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 10px 10px 10px;
  }
}

@media screen and (max-width: 1200px) {
  #bingo-summery {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  #bingo-summery img {
    display: none;
  }

  #bingo-summery .summery {
    width: auto;
    margin: 10px 10px 10px 10px;
  }

  #bingo-features .feature {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  #bingo-features .feature {
    margin: 5px;
    padding-top: 55px;
  }

  #bingo-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #bingo-features .feature {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
